#modal {
  border-radius: 4px;
}

#resetButtom {
  background-color: #5c5959;
  border: #121212;
  border-radius: 4px;
}

#resetButtom:hover {
  background-color: #222222;
}

#AbtOurPrjctButtom {
  background-color: #222222;
  border: #121212;
  border-radius: 4px;
}

#AbtOurPrjctButtom:hover {
  background-color: #5c5959;
  border: #5b5b5b;
}
