.aboutProjectDiv {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 220px;
  padding: 4px 10px 4px;
  font-size: 1.1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* font-family: "Amoitar", sans-serif; */
  background-color: #1a1a1a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 10;
  transition: 0.3s;
  transform: rotate(90deg);
  top: 320px;
  right: -95px;
}

.aboutProjectDiv:hover {
  color: white ;
  background-color: grey ;
  /* color: white; */
}

.aboutProject {
  background-color: rgb(97, 97, 97);
  margin-bottom: 5px;
}
