* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .heroDivImage {
} */

.heroImage {
  object-fit: cover;
  width: 100vw;
  height: 500px;
  margin-bottom: 6rem;
}

.heroParagraphDiv {
  left: 15px;
  position: absolute;
  top: 280px;
  text-align: center;
  z-index: 5;
}

.heroParagraph {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.paragraphPresentation {
  font-size: 1.2rem;
  text-align: left;
  padding: 0 50px;
}

.paragraphBootcamp {
  font-size: 1.2rem;
  text-align: left;
  padding: 0 50px;
}

.titleSection {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.hackAcademyLnk {
  text-decoration: none;
  color: rgb(29, 29, 29);
  padding: 10px 20px;
  background-color: grey;
  border-radius: 5px;
}

.pcColorful {
  margin-top: 60px;
}

.paragraphColorSec {
  margin-bottom: 50px;
}

.divMer {
  padding: 60px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.leftColMer {
  background-color: grey;
  height: 600px;
}

.merImage {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.592);
}

.paragraphMer {
  text-align: start;
}

/*TECNOLOGIES*/

.tecnologiesUp {
  padding: 0;
}

.tecnologiesDown {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OUR PHOTOS*/

.ourPhotosDiv {
  border-radius: 50%;
}

.ourPhotos {
  margin-top: 30px;
  border-radius: 50%;
  width: 200px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  transition: 0.27s;
}

.ourPhotos:hover {
  transform: scale(105%);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.276);
}

.developerTeamTitle {
  margin-top: 80px;
}

.ourNames {
  margin-top: 5px;
  margin-bottom: -6px;
  font-size: 1.4rem;
  font-weight: 700;
}

.profilesLinks {
  color: rgb(11, 11, 11);
  font-weight: 500;
  border-radius: 15px;
  padding: 0.2px 3px 3px;
  transition: 0.15s;
}

.profilesLinks:hover {
  color: rgb(76, 0, 0);
  padding: 0.5px 15px 3px;
  background-color: rgb(213, 213, 213);
  border-radius: 15px;
}
