.product {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    max-width: 50%;
}

.imageProduct {
    object-fit: cover;
    width: 300px;
    height: 200px;

}