.product {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    height: 200px;
}

.imageProduct {
    object-fit: cover;
    width: 200px;
    height: 100px;

}