@import url("http://fonts.cdnfonts.com/css/episode-i");
@import url("http://fonts.cdnfonts.com/css/amoitar");
@import url("http://fonts.cdnfonts.com/css/switzer");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Rubik+Marker+Hatch&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rowHero {
  background-color: black;
}

.heroImg {
  object-fit: cover;
  width: 100vw;
  height: calc(100vh - 74px);
}

/*ICONS*/

.rowServicesIcons {
  margin: 0px 50px 0 50px;
}

.weOfferDiv {
  place-items: center;
  width: 150px;
  margin-top: 15px;
}

.weOffer {
  width: 50px;
  opacity: 50%;
}

.customStroke path {
  stroke-width: .5px;
  stroke: white;
}

/*CATEGORIES*/

.ourCategories {
  font-size: 3rem;
  margin: 50px;
  color: rgb(109, 109, 109);
}

.categoryCardsImg {
  width: 100%;
  height: 300px;
  /* aspect-ratio: 1; */
  border: 1px solid rgba(128, 128, 128, 0.206);
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 0 8px 1px rgba(46, 46, 46, 0.106);
  transition: 0.25s ease-in-out;
}

.categoryCardsImg:hover {
  scale: 102.5%;
  box-shadow: 0 0 12px 2px rgba(46, 46, 46, 0.414);
}

.beds {
  position: relative;
  font-family: "Switzer", sans-serif;
  margin-top: 5px;
  font-size: 1.5rem;
  color: rgb(135, 135, 135);
  z-index: 1;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underHeroCol {
  background-color: #f5f5f5;
  position: relative;
  box-sizing: border-box;
  height: 300px;
  width: 100%;
}

.underHeroImg {
  height: 300px;
  width: 100%;
  opacity: 80%;
  object-fit: cover;
  filter: brightness(70%);
  /* filter: sepia(); */
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.452);
}

.divSeparatorCategories {
  width: 100%;
  margin-bottom: 120px;
}

.titleFirstSeparator {
  position: relative;
  top: 190px;
  line-height: 80px;
  font-size: 3rem;
  z-index: 4;
  font-weight: 600;
  color: #ffffff;
  transform-origin: center;
}

.tableSection {
  margin: 50px 40px;
  height: 500px;
  min-width: 310px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  padding: 0;
  width: 15vw;
  box-shadow: 0 0 10px 4px rgba(71, 71, 71, 0.288);
}

.TableSectionImg {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  top: -88px;
  /* filter: blur(1.5px); */
  /* filter: grayscale(1); */
  filter: saturate(1);
  filter: brightness(90%);
}

.divCardsStylesTitles {
  position: relative;
  top: 420px;
  line-height: 80px;
  z-index: 4;
  font-weight: 600;
  color: #ffffff;
  transform-origin: center;
  text-shadow: 2px 5px 7px rgba(0, 0, 0, 0.342);
}

.CardsStylesTitles {
  line-height: 80px;
  font-size: 1.8rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.549);
  z-index: 4;
  color: #ffffff;

  text-shadow: 1px 1px 5px rgba(31, 31, 31, 0.719);
}

.ShowSmallTableImg {
  width: 40%;
}

.colLeftTable {
  width: 100%;
}

.leftColImgTable {
  width: 100%;
  margin: 10px;
}
