.landing {
  /* background-color: #F5F5F5; */
  height: 800px;
  overflow: hidden;
}

.rowSec {
  height: 630px;
  background-color: #F5F5F5;
}

.imageSec {
  height: 630px;
  width: 100%;
  object-fit: cover;
  background-color: #F5F5F5;
}

.imageLanding {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 992px) {
  .imageLanding {
    max-height: 630px;
    object-position: bottom;
  }
  .landing {
    max-height: 400px;
  }
}
