.landing {
  background-color: #F5F5F5;
  height: 800px;
  z-index: -1;
}

.rowSec {
  height: 630px;
}

.imageSec {
  height: 630px;
  width: 100%;
  object-fit: cover;
  object-position: center -100px;
  background-color: #F5F5F5;
}

.imageLanding {
  width: 100%;
  object-fit: cover;
  object-position: center -100px;
}

@media only screen and (max-width: 992px) {
  .imageLanding {
    max-height: 630px;
  }
  .landing {
    max-height: 400px;
  }
}
