.shippingInfo {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.registerFormDiv {
  width: 600px;
  margin-top: 1.5rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.35rem;
  padding: 30px;
  border: 0.5px solid rgba(87, 85, 85, 0.616);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 1px rgba(114, 114, 114, 0.349);
}

.registerFormDiv input {
  border-radius: 2px;
  height: 30px;
}

.registerForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px 10px;
  justify-items: end;
  border-color: #000000 !important;
}

.selectAddress, .selectAddress:focus {
  border-radius: 2px;
  border-color: black;
}

textarea:focus,
input:focus,
input[type]:focus {
  border-color: #000000 !important;

  outline: 0 none !important;
}
