.productImage {
  width: 150px;
  height: 150px;
}

.quantityInput {
  width: 2.5rem;
  text-align: center;
}

.gray {
  color: rgb(107, 107, 107);
}

.cartTotals {
  background-color: rgb(244, 244, 244);
  padding: 3rem 1rem;
  text-align: start;
  box-shadow: 0 0 8px 1px rgba(114, 114, 114, 0.349);
  padding-left: 40px;
  padding-right: 40px;
  min-width: 336px;
}

.checkoutButton {
  border-radius: 0;
  margin-top: 1rem;
  border-radius: 2px;
}
