@import url("http://fonts.cdnfonts.com/css/episode-i");

.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
/* 
.navLinkGeneral {
  margin-left: 450px;
} */

.rightColIcon {
  display: block;
  font-size: 50px;
}

.ulLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.logo {
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logoNavbar {
  font-family: "Amoitar", sans-serif;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.692);
}

.navLinks {
  list-style: none;
  margin: 30px;
  font-weight: 500;
}

.rightColIcon {
  margin: 5px;
  width: 1.3rem;
  height: 1.3rem;
}

.divCartLink {
  padding: 6px;
}

.divCartLink:hover {
  font-size: 1.1rem;
}

.iconSpan {
  font-weight: 600;
  margin-right: 0.6rem;
}

.cartLink {
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 0.6rem;
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

.cartLink:hover {
  color: black;
  font-size: 1rem;
}

.divUsername {
  min-width: 210px;
  padding: 0px 10px 0px 10px;
  position: absolute;
  top: -100px;
  left: 25px;
  transition: 0.4s ease;
}

.divUsername:hover {
  padding: 30px 10px 8px 10px;
  background-color: transparent;
  border: none;
  top: -82px;
}

.logoutNav {
  cursor: pointer;
  position: relative;
  top: 44px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-style: italic;
  border: none !important;
  background-color: transparent;
  margin-top: 2px;
}

.logoutNav:hover {
  color: grey !important;
  background-color: transparent !important;
  background-color: rgb(19, 19, 19);
  border: none !important;
}

.usernameNav {
  color: rgb(121, 121, 121);
  font-weight: 900;
  color: white;
  font-size: 1.1rem;
  cursor: default;
  background-color: rgb(19, 19, 19);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 46px 17px 2px 17px;
}
