@import url("http://fonts.cdnfonts.com/css/amoitar");

.grandContainer {
  background-color: #0c0c0c;
  width: 100vw;
}

.footerContainer {
  background-color: #0c0c0c;
  padding-top: 50px;
  margin-top: 50px;
}

.hackDesignParagraph {
  /* margin-left: 25px; */
  text-align: start;
}

.footerLink {
  font-size: 0.8rem;
}

.footerLinkAbout {
  text-align: start;
  font-size: 0.8rem;
  font-weight: 200;
  font-weight: 400;
}

.footerLinksContact {
  font-size: 0.8rem;
  font-weight: 400;
}

.footerLinkSocialNet {
  font-size: 0.8rem;
  text-align: left;
  font-weight: 400;
}

.hackDesignFooter {
  font-family: "Amoitar", sans-serif;
  color: rgb(210, 210, 210);
  font-size: 1.2rem;
  margin-top: 50px;
}

.footerTitles {
  color: rgb(210, 210, 210);
  font-size: 1.2rem;
  margin-top: 50px;
  font-weight: 700;
  text-align: start;
}

.allRightsReserved {
  color: rgb(210, 210, 210);
}
