.productImage {
  width: 75px;
  height: 75px;
}

.buttonPopup {
  border-radius: 2px;
}

.button:hover {
  transform: scale(1.05);
  transition: ease-out .1s;
}

.button {
  transition: ease-out .1s;
}
